.main {
  background-color: $c-background;
  z-index: 1;
  padding: 10% 0;
  position: relative;
}

.container {
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 10% auto;
  max-width: 80vw;
}
.grid-container {
  transition: opacity 0.3s;

  &.-is-reversing {
    opacity: 0;
  }
  &.-is-reversed {
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
  }
}

/*
** cards
*/

:root {
  --card-size: calc(40vw - 5vw);
}
@include media("below-desktop") {
  :root {
    --card-size: 40vw;
  }
}
$card-content-width: 80%;
$card-index-width: calc(var(--card-size) * 0.15);
$card-side-margin: 10%;

.card {
  max-width: var(--card-size);
  min-width: var(--card-size);
  margin-bottom: 8rem;
  border: none;

  &.-right {
    transform: translate3d(0, 25%, 0);
  }
}
.grid-container.-is-reversed .card {
  &.-right {
    transform: translate3d(0, 0, 0);
  }
  &.-left {
    transform: translate3d(0, 25%, 0);
  }
}
.card {
  transition: opacity 0.3s;
  &.-is-hidden {
    opacity: 0;
    height: 0;
    margin-bottom: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }
}

.card__link {
  display: block;
  color: $c-main;
}

.card__head {
  position: relative;
  z-index: 3;
  padding-top: 6vh;
  padding-bottom: 2.5%;
  width: $card-content-width;

  &.-left {
    margin-left: auto;
  }
  &.-right .card__head-title {
    margin-left: 1rem;
  }
}
.grid-container.-is-reversed .card__head {
  &.-right {
    margin-left: auto;
  }
  &.-left {
    margin-left: 0;
  }
  &.-left .card__head-title {
    margin-left: 1rem;
  }
}

.card__head-index {
  position: absolute;
  left: calc(#{$card-index-width} * -0.8);
  bottom: -50%;
  width: $card-index-width;
  height: auto;
  // display: none;
}

.card__thumbnail {
  position: relative;
  z-index: 2;
  margin-bottom: 1.8rem;
  max-height: 26.25rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &-img {
    display: block;
    width: 100%;
    height: auto;
    z-index: 2;
  }
}

.card__content {
  line-height: 1.5;
  width: $card-content-width;

  &.-left {
    margin: 0 0 0 auto;
  }
  &.-right {
    margin-left: 2px;
  }
}
.grid-container.-is-reversed .card__content {
  &.-right {
    margin: 0 0 0 auto;
  }
  &.-left {
    margin-left: 2px;
  }
}

.card__content-text.-brief {
  margin-bottom: 2rem;
}

.card__content-text.-date {
  padding-bottom: 2.5rem;
  font-style: italic;
}

/*
** hover effect
*/
$hover-box-width: calc(#{$card-content-width} + 10%);
.card__container {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    width: $hover-box-width;
    height: 100%;
    border: 1px solid transparent;
    transition: border-color 0.3s;

    .-left & {
      left: calc((100% - #{$card-content-width}) / 2);
    }
    .-right & {
      left: 0;
    }
  }

  .-left & {
    padding-right: $card-side-margin;
  }
  .-right & {
    padding-left: $card-side-margin;
  }

  @include media("above-desktop") {
    &:hover {
      &:after {
        border-color: $c-theme;
        transition: border-color 0.3s;
      }
    }
  }
}
.grid-container.-is-reversed {
  .card.-left .card__container {
    padding-left: $card-side-margin;
    padding-right: 0;

    &:after {
      left: 0;
    }
  }
  .card.-right .card__container {
    padding-left: 0;
    padding-right: $card-side-margin;

    &:after {
      left: calc((100% - #{$card-content-width}) / 2);
    }
  }
}

/*
** load more btn
*/

.load-link {
  width: 100%;
  text-align: center;

  &__btn {
    font-family: $f-body-bold;
    font-size: $fs-subtitle;
    border: none;
    background-color: transparent;

    @include media("above-desktop") {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.load-link.-is-hidden {
  display: none;
}
