@include media("below-desktop") {
  .grid-container {
    max-width: 90vw;
  }

  .card__head-index {
    bottom: -25%;
    width: calc(var(--card-size) * 0.2);
  }
}

@include media("below-small") {
  .grid-container {
    flex-direction: column;
    max-width: 100vw;
    margin-top: 15%;
    margin-bottom: 0;
  }
  .card {
    max-width: 100vw;
    margin-bottom: 5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .card__head {
    margin-top: -3.5rem;
  }
  .card__content {
    line-height: 1.3;
  }
  .card.-right,
  .grid-container.-is-reversed .card.-left {
    transform: translate3d(0, 0, 0);
  }
  .-left .card__container,
  .grid-container.-is-reversed .card.-right .card__container {
    padding-left: 10%;
    padding-right: 0;
  }
  .card__head.-left,
  .grid-container.-is-reversed .card__head.-right {
    margin-left: 0;
  }
  .card__content.-left,
  .grid-container.-is-reversed .card__content.-right {
    margin-left: 0;
  }

  .card__head-index {
    bottom: -50%;
    width: calc(var(--card-size) * 0.3);
  }
}

@include media("below-mobile") {
  .grid-container {
    margin-top: 20%;
  }
  .card__head-index {
    bottom: -25%;
  }
}
