@include media("below-desktop") {
  .card {
    max-width: calc(50vw - 1vw);
  }
}

@include media("below-small") {
  .grid-container {
    flex-direction: column;
  }
  .card {
    max-width: 100vw;
    margin-bottom: 1rem;
  }
  .card.-right,
  .grid-container.-is-reversed .card.-left {
    transform: translate3d(0, 0, 0);
  }
  .-left .card__container,
  .grid-container.-is-reversed .card.-right .card__container {
    padding-left: 10%;
    padding-right: 0;
  }
  .card__head.-left,
  .grid-container.-is-reversed .card__head.-right {
    margin-left: 0;
  }
  .card__content.-left,
  .grid-container.-is-reversed .card__content.-right {
    margin-left: 0;
  }
}
