.header {
	position: relative;
	height: $header-height;
}

/*
** header hero text
*/
$dot-size: calc(#{$header-height} / 25);

.header__hero-title {
	opacity: 0;
	width: 0;
		height: 0;
	pointer-events: none;
}

.header__hero {
	position: absolute;
		top: 0;
		left: 0;
	width: 100%;
		height: inherit;
}
.header__hero-text {
	position: relative;
	width: 100%;
		height: 33.3%;
	display: flex;
		align-items: baseline;
}
.header__hero-svg {
	height: 91%;
	margin-top: auto;
	transform: translate3d(0, 1.8%, 0);
}
.header__hero-text.-top {
	border-bottom: 1px solid $c-body;
}
.header__hero-text.-center {
	border-bottom: 1px solid $c-body;
}
.header__hero-text.-top .header__hero-svg {
	margin-left: 2%;
}
.header__hero-text.-center .header__hero-svg {
	height: 128%;
}
.header__hero-text.-btm .header__hero-svg {
	margin-left: 1%;
}

.header__hero-text.-top:after,
.header__hero-text.-center:after {
	content: '';
	position: absolute;
	width: $dot-size;
		height: $dot-size;
	border-radius: 100%;
	background-color: $c-body;
}
.header__hero-text.-top:after {
	top: calc(60% - #{$dot-size});
	left: calc(#{$header-height}/1.5);
}
.header__hero-text.-center:after {
	top: calc(65% - #{$dot-size});
	left: calc(#{$header-height}/2);
}

/*
** header grid
*/
$small-grid-width: 26%;
$big-grid-width: calc(100% - #{$small-grid-width}*2);


.header__grids {
	width: 100%;
		height: inherit;
	display: flex;
	border-bottom: 1px solid $c-body;
}
.header__grid {
	height: 100%;
}
.header__grid.-left {
	width: $big-grid-width;
	border-right: 1px solid $c-body;
}
.header__grid.-center {
	width: $small-grid-width;
	border-right: 1px solid $c-body;
}
.header__grid.-right {
	width: $small-grid-width;
}