.header {
  position: relative;
  height: $header-height;
}

/*
** header hero text
*/
$dot-size: calc(#{$header-height} / 25);
$dot-size-desktop: calc(#{$header-height-desktop} / 20);

$hero-height-small: 45vh;
$info-height-small: calc(100vh - #{$hero-height-small});
$dot-size-small: calc(#{$hero-height-small} / 20);

$hero-height-mobile-small: 40vh;
$info-height-mobile-small: calc(100vh - #{$hero-height-mobile-small});

.header__hero-title {
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}

.header__hero {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: inherit;
}

.header__hero-text {
  position: relative;
  width: 100%;
  height: 33.3%;
  display: flex;
  align-items: baseline;
}
.header__hero-svg {
  height: 91%;
  margin-top: auto;
  transform: translate3d(0, 1.8%, 0);
}
.header__hero-text {
  &.-top {
    border-bottom: 1px solid $c-body;
  }
  &.-center {
    border-bottom: 1px solid $c-body;
  }
  &.-top .header__hero-svg {
    margin-left: 2%;
  }
  &.-center .header__hero-svg {
    height: 128%;
  }
  &.-btm .header__hero-svg {
    margin-left: 1%;
  }

  &.-top:after,
  &.-center:after {
    content: "";
    position: absolute;
    width: $dot-size;
    height: $dot-size;
    border-radius: 100%;
    background-color: $c-body;
  }
  &.-top:after {
    top: calc(60% - #{$dot-size});
    left: calc(#{$header-height}/ 1.5);
  }
  &.-center:after {
    top: calc(65% - #{$dot-size});
    left: calc(#{$header-height}/ 2);
  }
}

.header__hero-text {
  @include media("below-desktop") {
    &.-top:after,
    &.-center:after {
      width: $dot-size-desktop;
      height: $dot-size-desktop;
    }
    &.-top:after {
      top: calc(60% - #{$dot-size-desktop});
      left: calc(#{$header-height-desktop}/ 1.5);
    }
    &.-center:after {
      top: calc(65% - #{$dot-size-desktop});
      left: calc(#{$header-height-desktop}/ 2);
    }
  }
  @include media("below-small") {
    &.-btm {
      border-bottom: 1px solid $c-body;
    }
    &.-top:after,
    &.-center:after {
      width: $dot-size-small;
      height: $dot-size-small;
    }
    &.-top:after {
      top: calc(60% - #{$dot-size-small});
      left: calc(#{$hero-height-small}/ 1.5);
    }
    &.-center:after {
      top: calc(65% - #{$dot-size-small});
      left: calc(#{$hero-height-small}/ 2);
    }
  }
}

/*
** header grid
*/
$small-grid-width: 26%;
$big-grid-width: calc(100% - #{$small-grid-width}* 2);

.header__grids {
  width: 100%;
  height: inherit;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
.header__grids {
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 45vh;
    left: calc(-45vh);
    width: 200vh;
    height: 1px;
    background-color: $c-theme;
  }
  &:before {
    transform-origin: center;
    transform: rotate(45deg);
  }
  &:after {
    transform-origin: center;
    transform: rotate(-45deg);
  }
}
.header__grids {
  @include media("below-small") {
    &:before,
    &:after {
      top: 35vh;
      left: auto;
      right: calc(-90vh);
    }
  }
}

.header__grid {
  height: 100%;

  &.-left {
    width: $big-grid-width;
    border-right: 1px solid $c-body;
  }
  &.-center {
    width: $small-grid-width;
    border-right: 1px solid $c-body;
  }
  &.-right {
    width: $small-grid-width;
  }
}

/*
** header info
*/
.header__info {
  position: absolute;
  right: var(--bar-padding-side);
  top: calc((100% - calc(#{$header-height} * 0.725)) / 2);
  z-index: 2;
  width: calc(#{$header-height} * 0.75);
  max-width: calc(#{$header-height} * 0.75);
  height: calc(#{$header-height} * 0.755);
  max-height: calc(#{$header-height} * 0.755);
  background-color: $c-background;
}

.header-latest {
  position: relative;
  display: block;
  min-width: 100%;
  min-height: 100%;
  padding: 2rem 0 2rem 2.5rem;
  box-sizing: border-box;
  border: 1px solid $c-main;
  background-color: $c-background;

  @include media("above-desktop") {
    &:hover {
      .header-latest__cta {
        text-decoration: underline;
      }
    }
  }
}
.header__info:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 2rem;
  left: -2rem;
  width: 100%;
  height: 100%;
  border: 1px solid $c-main;
  background-color: $c-background;
}

.header-latest__heading {
  display: inline-block;
  font-size: $fs-body;
  color: $c-body;
  margin-bottom: 0.5rem;
}
.header-latest__title {
  font-family: $f-sub;
  font-size: 3.5rem;
  color: $c-body;
}

.header-latest__top {
  margin-bottom: 1rem;
}

.header-latest__main {
  min-height: 240px;
  max-height: 240px;
  margin-bottom: 1rem;
}
.header-latest__preview {
  min-height: inherit;
  background-position: center;
  background-size: cover;
}
