@include media("below-large") {
  .header__info:after {
    height: calc(100% + 2rem);
  }
  .header__info {
    height: calc(var(--header-height) * 0.655);
    max-height: calc(var(--header-height) * 0.655);
  }
  .header-latest__main {
    min-height: calc(var(--header-height) * 0.4);
    max-height: calc(var(--header-height) * 0.4);
  }
}

@include media("below-medium") {
  .header__info {
    height: calc(var(--header-height) * 0.655);
    max-height: calc(var(--header-height) * 0.655);
  }
  .header-latest__main {
    min-height: calc(var(--header-height) * 0.4);
    max-height: calc(var(--header-height) * 0.4);
  }
}

@media (max-width: 1170px) {
  .header__info:after {
    height: calc(100% + 3rem);
  }
}

@include media("below-desktop") {
  .header__info {
    transform: none;
    left: 0;
    right: auto;
    top: calc(var(--hero-height) + 2rem);
    width: 95vw;
    max-width: 95vw;
    height: calc((100vh - var(--hero-height)) * 0.9);
    max-height: calc((100vh - var(--hero-height)) * 0.9);
  }

  .header__info:after {
    height: calc(100% + 1rem);
  }

  .header-latest__main {
    min-height: calc((100vh - var(--hero-height)) * 0.7);
    max-height: calc((100vh - var(--hero-height)) * 0.7);
  }

  .header-latest__heading {
    font-size: 0.875rem;
    margin-bottom: 0;
  }
  .header-latest__title {
    font-size: 3rem;
  }
}

@include media("below-small") {
  .header__info {
    height: calc((100vh - var(--hero-height)) * 0.8);
    max-height: calc((100vh - var(--hero-height)) * 0.8);
  }
  .header-latest__main {
    min-height: calc((100vh - var(--hero-height)) * 0.55);
    max-height: calc((100vh - var(--hero-height)) * 0.55);
  }

  .header__hero-svg {
    height: 100%;
  }
  .header__hero-text.-center .header__hero-svg {
    height: 130%;
  }
}


.header__hero {
  @include media("below-desktop") {
    height: var(--hero-height);
  }
}

.header__grid {
  @include media("below-desktop") {
    &.-left {
      margin-top: calc(var(--hero-height) * 0.66 + 4px);
      width: $small-grid-width;
      height: calc(var(--info-height) + var(--hero-height) * 0.33);
    }
    &.-center {
      width: $big-grid-width;
      height: 100%;
    }
  }
  @include media("below-mobile-desktop") {
    &.-center {
      width: $big-grid-width;
      height: calc(var(--hero-height) + 2px);
    }
  }
}
