.nav {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  padding: 0 var(--bar-padding-side);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: var(--nav-height);
  width: 100vw;
}
.nav.-is-about {
  border-bottom: 1px solid $c-body;
  background-color: $c-background;
  justify-content: space-between;
}

.nav__item {
  padding: 1rem 1rem;
  border: none;
  background-color: transparent;

  &:first-child {
    margin-right: 2rem;
  }
  &:last-child {
    padding-right: 0;
  }
}
.nav__item-link {
  font-size: 1.125rem;
  font-family: $f-sub;
  color: $c-body;

  @include media("above-desktop") {
    &:hover {
      text-decoration: underline;
      color: $c-theme;
    }
  }
}
.nav.-is-about {
  .nav__item:first-child {
    text-decoration: underline;
    pointer-events: none;
  }
}

.nav__left {
  display: none;
}
.nav.-is-about {
  .nav__left {
    display: block;
  }
}
.nav__logo {
  width: 8rem;
}

@include media("below-desktop") {
  .nav__main span {
    display: none;
  }
  .nav__item {
    margin-right: 0 !important;
    padding: 0;
  }
}
